.card {
	width: 100px;
	height: 100px;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 5px;

	cursor: pointer;

	transition: 0.1s ease-in-out;
	overflow: hidden;
}

.card .content {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 98px;
	height: 98px;

	border-radius: 5px;
	background: #312e39;

	font-size: 48px;

	transition: 0.3s ease-in-out;
}
.card .reversed {
	background: rgba(232, 230, 237, 0.75);
}

.card .border {
	position: absolute;
	z-index: -1;

	display: flex;

	width: 0px;
	height: 0px;

	transform: rotate(0deg);

	background: transparent;
	transition: 0.3s ease-in-out;
}
.card:hover .border {
	width: 150%;
	height: 150%;
	transform: rotate(45deg);
	background: rgba(232, 230, 237, 0.75);
}

.entering:not(.completed) .content {
	opacity: 1;
	transform: rotateY(180deg);
}
.entering:not(.completed) {
	transform: scale(1.02);
	transition: 0.3s ease-in-out;
}
.entering:not(.completed) .border {
	opacity: 0;
	transition: none;
}

.entered:not(.completed) .content {
	opacity: 1;
	transform: rotateY(0);
}
.entered:not(.completed) {
	transform: scale(1);
}
.entered .border {
	opacity: 1;
}

.exiting:not(.completed) .content {
	opacity: 1;
	transform: rotateY(90deg);
	transition: 0.1s ease-in-out;
}
.exiting:not(.completed) {
	transform: scale(1.02);
}
.exiting:not(.completed) .border {
	opacity: 0;
}

.exited:not(.completed) {
	transition: 0.1s ease-in-out;
}
.exited:not(.completed) .content {
	transform: translateY(0deg);
}
