.modal {
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: center;

	min-width: 320px;
	min-height: 207px;

	gap: 15px;
	padding: 25px;
}

.modal .icon {
	font-size: 28px;
}
.modal .title {
	font-size: 28px;
	font-weight: 600;
	line-height: 34px;
	text-align: center;
}

.modal .content {
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 0 20px;
}
.modal .content p {
	font-size: 18px;
	color: #f5f5f5;
}

.modal .line {
	width: 160px;
	height: 1px;
	background: #3f3f3f;
}

.modal .btn:hover {
	border-color: #32323a;
}
.modal .btn:hover div {
	background: #32323a;
	opacity: 1;
}

.modal .close {
	position: absolute;
	top: -12px;
	right: -12px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	min-width: unset;

	height: 40px;

	background: #24242a;
	border-radius: 50px;
	border: 1px solid #3f3f3f;

	cursor: pointer;

	transition: 0.3s ease-in-out;
}
.modal .close:hover {
	border-color: #3f3f3f;
}

.modal .btn {
	background: #312e39;
	border-color: #524b5d;
}
.modal .btn.active {
	background: #524b5d;
}
.modal .btn:hover div {
	background: #3E3A48;
	opacity: 1;
}
.modal .btn:hover {
	border-color: #524b5d;
	background: #3E3A48;
}
